* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background: gray;
  overflow-x: hidden;
}

.mobile-device {
  height: 720px;
  width: 360px;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: block;
  background: url(../img/mapa-2.png) no-repeat;
  background-color: #f1f3f4;
  background-size: cover;
  position: absolute;
  padding-bottom: 10px;
}

[data-screen="1"] .info-ponto {
  visibility: hidden;
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
  z-index: 1;
}

[data-screen="1"].act {
  display: block;
}

[data-screen="1"] {
  display: none;
}

[data-screen="1"] .info-ponto.act {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

.hide {
  visibility: hidden;
}

.android-bar {
  height: 24px;
  background: url(../img/android-bar.svg) no-repeat;
}

.menu {
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  position: relative;
  padding: 12px 15px;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu h1 {
  font-size: 19px;
}

.menu .btn-menu {
  padding-top: 4px;
  cursor: pointer;
  z-index: 3;
}

.menu .btn-menu span {
  display: block;
  height: 2px;
  width: 18px;
  border-radius: 10px;
  background: currentColor;
}

.menu .btn-menu span::after, .menu .btn-menu span::before {
  content: '';
  display: block;
  height: 2px;
  width: 24px;
  margin: 7px auto;
  position: absolute;
  background: currentColor;
  border-radius: 10px;
}

.menu .btn-menu span::after {
  margin-top: 14px;
}

.menu .icon {
  height: 24px;
  width: 24px;
  background: url(../img/report-icon.svg);
  background-size: 24px;
  background-color: transparent;
}

.icon {
  height: 36px;
  width: 36px;
  background-color: gray;
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  border-radius: 100%;
  cursor: pointer;
}

.icon.-horario {
  background-image: url(../img/horario-icon.svg);
}

.icon.-fav {
  background-image: url(../img/fav-icon.svg);
}

.info-ponto {
  height: 110px;
  width: 100%;
  padding: 10px 20px;
  position: absolute;
  background: #212121;
  color: #fff;
  top: 440px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-ponto .cta > * {
  float: right;
}

.info-ponto span {
  font-size: 14px;
  font-weight: bold;
}

.info-ponto p {
  font-size: 12px;
  line-height: 1.5em;
  max-width: 180px;
  margin-bottom: 10px;
}

.info-ponto button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 15px;
  background: #fff;
  cursor: pointer;
}

.info-ponto .back {
  display: block;
  height: 16px;
  width: 16px;
  background: url(../img/seta-icon.svg) no-repeat;
  background-size: cover;
  margin-top: 6px;
  cursor: pointer;
}

.info-ponto .cta {
  float: right;
}

.info-ponto .icon {
  display: block;
  float: none;
  margin-bottom: 10px;
}

.features {
  height: 170px;
  width: 360px;
  background: #212121;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.features span.i {
  text-align: center;
  display: block;
  font-size: 12px;
  padding: 10px 0;
  background: #343434;
  color: #fff;
}

.features .search {
  position: relative;
}

.features .search input {
  display: block;
  width: 320px;
  background: #343434;
  border: none;
  padding: 10px 10px;
  margin: 15px auto;
}

.features .search .icon {
  display: block;
  height: 20px;
  width: 20px;
  top: 7px;
  right: 30px;
  background: url(../img/search-icon.svg);
  position: absolute;
  cursor: pointer;
}

.features .fav {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  margin: 0 auto 0px auto;
  padding: 10px 0;
  border-top: 1px solid #343434;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .fav .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.features .fav .item span {
  display: block;
  margin-bottom: 4px;
}

.features .fav .item p {
  font-size: 12px;
  color: gray;
}

.features .fav .item .icon {
  height: 36px;
  width: 36px;
  background-color: gray;
  background-image: url(../img/fav-icon.svg);
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;
  display: block;
  border-radius: 100%;
  margin-right: 8px;
}

.features .fav .item div span {
  font-weight: bold;
}

.coleta {
  height: 660px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.coleta .usuario {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #4285F4;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: e1;
          animation-name: e1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes e1 {
  from {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(66, 133, 244, 0.24);
            box-shadow: 0px 0px 0px 15px rgba(66, 133, 244, 0.24);
  }
  to {
    -webkit-box-shadow: 0px 0px 0px 25px rgba(66, 133, 244, 0.04);
            box-shadow: 0px 0px 0px 25px rgba(66, 133, 244, 0.04);
  }
}

@keyframes e1 {
  from {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(66, 133, 244, 0.24);
            box-shadow: 0px 0px 0px 15px rgba(66, 133, 244, 0.24);
  }
  to {
    -webkit-box-shadow: 0px 0px 0px 25px rgba(66, 133, 244, 0.04);
            box-shadow: 0px 0px 0px 25px rgba(66, 133, 244, 0.04);
  }
}

.coleta .ponto {
  height: 25px;
  width: 25px;
  background: url(../img/pontos-de-coleta.svg) no-repeat;
  background-size: 14px;
  background-color: gray;
  background-position: center;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: 220px;
  left: 220px;
  -webkit-transition: .3s;
  transition: .3s;
}

.coleta .ponto.act {
  height: 50px;
  width: 50px;
  top: 210px;
  left: 210px;
  background-size: 29px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mobile-device[data-screen="2"] {
  position: absolute;
  opacity: 0;
  z-index: 5;
  visibility: hidden;
  background: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mobile-device[data-screen="2"].act {
  visibility: visible;
  margin-left: 0;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.mobile-device[data-screen="2"] .info-ponto {
  height: 110px;
  width: 100%;
  padding: 10px 20px;
  position: absolute;
  background: #212121;
  color: #fff;
  top: 23px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-device[data-screen="2"] .info-horario {
  display: block;
  width: 320px;
  margin: 120px 20px 20px 20px;
}

.mobile-device[data-screen="2"] .info-horario .titulo {
  padding: 10px;
  background: gray;
  border-radius: 4px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-device[data-screen="2"] .info-horario .titulo span {
  font-size: 14px;
}

.mobile-device[data-screen="2"] .info-horario .titulo .t-lixo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-device[data-screen="2"] .info-horario .titulo .t-lixo .icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  background-color: #fff;
}

.mobile-device[data-screen="2"] .info-horario > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.mobile-device[data-screen="2"] .info-horario p {
  font-size: 12px;
}

.mobile-device[data-screen="2"] .info-horario .descricao {
  font-size: 10px;
}

.mobile-device[data-screen="2"] .info-horario button {
  display: block;
  height: 48px;
  width: 160px;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 20px;
  background: #212121;
  color: #fff;
}

.menu-lateral {
  position: absolute;
  height: 697px;
  width: 360px;
  top: 23px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 6;
  visibility: hidden;
  overflow: hidden;
}

.menu-lateral.act {
  visibility: visible;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-lateral.act .wrapper {
  margin-left: 0%;
  -webkit-transition: .7s ease-out;
  transition: .7s ease-out;
}

.menu-lateral .m-l-btn {
  width: 24px;
  height: 28px;
  top: 15px;
  right: 15px;
  position: absolute;
  cursor: pointer;
}

.menu-lateral .m-l-btn span {
  display: block;
  height: 2px;
  width: 18px;
  background: gray;
  margin-bottom: 12px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border-radius: 10px;
  z-index: 10;
  margin: 0 auto;
}

.menu-lateral .m-l-btn span:after {
  content: '';
  display: block;
  height: 2px;
  width: 18ppx;
  background: gray;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  border-radius: 10px;
}

.menu-lateral .wrapper {
  display: block;
  position: relative;
  height: 697px;
  width: 300px;
  margin-left: -100%;
  padding: 15px;
  background: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 4px 0 10px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 4px 0 10px 0px rgba(0, 0, 0, 0.24);
}

.menu-lateral .wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-lateral .wrapper .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.menu-lateral .wrapper .profile img {
  height: 60px;
  width: 60px;
  background: #212121;
  display: block;
  border-radius: 100%;
}

.menu-lateral .wrapper .profile .p-info {
  display: block;
  margin-left: 15px;
}

.menu-lateral .wrapper .profile .p-info span {
  display: block;
  font-size: 16px;
  margin-bottom: 6px;
}

.menu-lateral .wrapper .profile .p-info p {
  font-size: 14px;
}

.menu-lateral .wrapper .link {
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
}

.menu-lateral .wrapper .link .icon {
  height: 24px;
  width: 24px;
  margin-right: 15px;
}

.-g {
  background-color: #2ecc71 !important;
}

.-o {
  background-color: #e67e22 !important;
}

.-b {
  background-color: #3498db !important;
}

.-r {
  background-color: #e74c3c !important;
}

.-hb {
  background-color: #2c3e50 !important;
}

.-y {
  background-color: #f1c40f !important;
}

.-r {
  background-color: #e74c3c !important;
}
/*# sourceMappingURL=style.css.map */